/* line 5, ../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 4, ../sass/style.scss */
html {
  height: 100%;
}

/* line 8, ../sass/style.scss */
body {
  min-height: 100%;
}

/* line 13, ../sass/style.scss */
body {
  background: #111;
}
/* line 17, ../sass/style.scss */
body h1 {
  color: #fff;
  margin: 20px 0 50px 0;
}
/* line 23, ../sass/style.scss */
body h2 {
  margin-top: 70px;
  font-size: 54px;
  margin-left: 10px;
  color: #FFFFFF;
  margin-bottom: 52px;
}
/* line 33, ../sass/style.scss */
body .tagline {
  margin-bottom: 40px;
}

/* line 39, ../sass/style.scss */
.sense {
  width: 90%;
  margin-left: 5%;
  margin-top: 20px;
}

/* line 48, ../sass/style.scss */
* {
  box-sizing: border-box;
}

/* line 52, ../sass/style.scss */
#sidebar {
  width: 380px;
  left: 0;
  float: left;
  min-height: 100vh;
  background: #FFF;
  background: #fafafa;
  border-right: solid 1px #EFEFEF;
  padding: 30px;
}
/* line 63, ../sass/style.scss */
#sidebar ul.list {
  margin-top: 40px;
}
/* line 67, ../sass/style.scss */
#sidebar ul.list li {
  border-bottom: solid 1px #CACACA;
}
/* line 72, ../sass/style.scss */
#sidebar ul.list li:first-child {
  border-top: solid 1px #CACACA;
}
/* line 77, ../sass/style.scss */
#sidebar ul.list li a {
  padding: 20px;
  display: block;
  position: relative;
}
/* line 83, ../sass/style.scss */
#sidebar ul.list li a span {
  z-index: 2;
  position: relative;
}
/* line 89, ../sass/style.scss */
#sidebar ul.list li a::before {
  content: "";
  width: 0%;
  background: #F0F0F0;
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  transition: all ease .3s;
}
/* line 103, ../sass/style.scss */
#sidebar ul.list li a:hover::before {
  width: 100%;
}

/* line 114, ../sass/style.scss */
p.copy {
  line-height: 1.6em;
}

/* line 119, ../sass/style.scss */
.wrap {
  width: calc(100% - 390px);
  max-width: 1000px;
  float: left;
  padding-left: 30px;
}

/* line 127, ../sass/style.scss */
#container {
  height: 100%;
}
/* line 132, ../sass/style.scss */
#container::after {
  content: "";
  display: table;
  clear: both;
}

/* line 141, ../sass/style.scss */
button {
  width: 200px;
  height: 60px;
  display: inline-block;
  cursor: pointer;
  border: 0;
  position: relative;
  color: #FFF;
  font-size: 12pt;
  outline: 0;
  border-radius: 3px;
  margin: 10px;
}
/* line 154, ../sass/style.scss */
button:active {
  transform: translateY(1px);
}
/* line 158, ../sass/style.scss */
button span {
  position: relative;
}

/* line 164, ../sass/style.scss */
.b1 {
  background: linear-gradient(90deg, #0092ff 0%, #0092ff 45%, #15c4f7 76%, #0092ff 100%);
  background-size: 300% 100%;
  transition: all .2s ease;
  text-align: center;
}
/* line 171, ../sass/style.scss */
.b1:hover {
  background-position: 100% 100%;
}

/* line 176, ../sass/style.scss */
.b2 {
  background: #0092ff;
  overflow: hidden;
  transition: all .2s ease-in-out;
}
/* line 182, ../sass/style.scss */
.b2:after {
  content: "";
  position: absolute;
  padding: 5px;
  box-shadow: 1px -1px 0 1px #fff inset;
  -webkit-box-shadow: 1px -1px #fff inset;
  border: solid transparent;
  border-width: 0 0 5px 5px;
  transition: 0.2s;
  transform: rotate(225deg);
  right: -50px;
  top: calc(50% - 7px);
}
/* line 196, ../sass/style.scss */
.b2:hover:after {
  right: 20px;
}
/* line 202, ../sass/style.scss */
.b2:hover span {
  width: 120px;
}
/* line 207, ../sass/style.scss */
.b2:focus {
  transition: none;
}
/* line 211, ../sass/style.scss */
.b2 span {
  width: 100%;
  display: block;
  transition: all .2s ease-in-out;
}

/* line 219, ../sass/style.scss */
.b3 {
  background: #0092ff;
  transition: all .2s ease-in-out;
}
/* line 227, ../sass/style.scss */
.b3:hover .circle::before {
  border-top-color: #fff;
  border-right-color: #fff;
  border-bottom-color: #fff;
  transition: border-top-color 0.05s linear, border-right-color 0.05s linear 0.1s, border-bottom-color 0.15s linear 0.2s;
}
/* line 234, ../sass/style.scss */
.b3:hover .circle::after {
  border-top: 1px solid #fff;
  border-left-width: 1px;
  border-right-width: 1px;
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
  transition: border-left-width 0s linear 0.25s, -webkit-transform 0.2s linear 0s;
  transition: transform 0.3s linear 0s, border-left-width 0s linear 0.25s;
  transition: transform 0.3s linear 0s, border-left-width 0s linear 0.25s, -webkit-transform 0.4s linear 0s;
}
/* line 246, ../sass/style.scss */
.b3:hover span:before {
  display: inline-block;
}
/* line 253, ../sass/style.scss */
.b3 .circle {
  box-shadow: inset 0 0 0 1px #f45e61;
  font-size: inherit;
  font-weight: 700;
  position: relative;
  vertical-align: middle;
  border-radius: 100%;
  box-shadow: none;
  width: 16px;
  height: 16px;
  display: block;
  position: absolute;
  left: 50px;
  top: calc(50% - 8px);
}
/* line 268, ../sass/style.scss */
.b3 .circle::before, .b3 .circle::after {
  box-sizing: inherit;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 100%;
}
/* line 280, ../sass/style.scss */
.b3 .circle:before {
  border: 1px solid transparent;
}
/* line 284, ../sass/style.scss */
.b3 .circle::after {
  border: 0 solid transparent;
}
/* line 292, ../sass/style.scss */
.b3 span:before {
  display: none;
  content: "";
  position: absolute;
  padding: 3px;
  box-shadow: 1px -1px 0 1px #fff inset;
  -webkit-box-shadow: 1px -1px #fff inset;
  border: solid transparent;
  border-width: 0 0 4px 4px;
  transition: 0.2s;
  transform: rotate(225deg);
  left: -24px;
  top: 4px;
}

/* line 310, ../sass/style.scss */
.b4 {
  background: #0092ff;
  transition: all .2s ease;
  overflow: hidden;
  text-align: center;
}
/* line 320, ../sass/style.scss */
.b4:hover:after {
  opacity: 0;
  left: -100%;
  animation: fadeinout 1s linear;
}
/* line 327, ../sass/style.scss */
.b4:after {
  background: repeating-linear-gradient(45deg, transparent, transparent 10px, #fff 10px, #fff 20px);
  background-size: 400% 100%;
  width: 400%;
  height: 100%;
  top: 0;
  opacity: 0;
  position: absolute;
  content: "";
  left: -200%;
}
@keyframes fadeinout {
  0% {
    opacity: 0;
    left: -200%;
  }
  50% {
    opacity: .1;
    left: -190%;
  }
  100% {
    opacity: 0;
    left: -180%;
  }
}
/* line 359, ../sass/style.scss */
.b5 {
  background: #0092ff;
  text-align: center;
  overflow: hidden;
  color: #FFF;
  transition: all .3s ease;
}
/* line 366, ../sass/style.scss */
.b5::before {
  left: -100%;
  width: 100%;
  height: 100%;
  top: 0;
  content: "";
  position: absolute;
  background: #FFF;
  transition: all .3s ease;
}
/* line 377, ../sass/style.scss */
.b5:hover {
  color: #0092ff;
}
/* line 380, ../sass/style.scss */
.b5:hover::before {
  left: 0%;
}

/* line 387, ../sass/style.scss */
.b6 {
  background: #0092ff;
}
/* line 391, ../sass/style.scss */
.b6:hover .star {
  -webkit-animation: flip-vertical-left 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  animation: flip-vertical-left 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}
/* line 397, ../sass/style.scss */
.b6 .star {
  position: relative;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .9em;
  margin-right: 2em;
  margin-bottom: 1.2em;
  border-right: .3em solid transparent;
  border-bottom: .8em solid #FFF;
  border-left: .3em solid transparent;
  top: 2px;
  /* Controlls the size of the stars. */
  font-size: 8px;
}
/* line 416, ../sass/style.scss */
.b6 .star:before, .b6 .star:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  top: .6em;
  left: -1em;
  border-right: 1em solid transparent;
  border-bottom: .8em solid #FFF;
  border-left: 1em solid transparent;
  transform: rotate(-35deg);
}
/* line 435, ../sass/style.scss */
.b6 .star:after {
  transform: rotate(35deg);
}
@-webkit-keyframes flip-vertical-left {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
  }
}
@keyframes flip-vertical-left {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
  }
}
/* line 466, ../sass/style.scss */
.b7 {
  background: #0092ff;
}
/* line 470, ../sass/style.scss */
.b7:hover .star {
  -webkit-animation: rotation 0.4s both;
  animation: rotation 0.4s both;
}
/* line 476, ../sass/style.scss */
.b7 .star {
  position: relative;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .9em;
  margin-right: 2em;
  margin-bottom: 1.2em;
  border-right: .3em solid transparent;
  border-bottom: .8em solid #FFF;
  border-left: .3em solid transparent;
  top: 2px;
  transform: rotate(0);
  transform-origin: center 8px;
  /* Controlls the size of the stars. */
  font-size: 8px;
}
/* line 498, ../sass/style.scss */
.b7 .star:before, .b7 .star:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  top: .6em;
  left: -1em;
  border-right: 1em solid transparent;
  border-bottom: .8em solid #FFF;
  border-left: 1em solid transparent;
  transform: rotate(-35deg);
}
/* line 517, ../sass/style.scss */
.b7 .star:after {
  transform: rotate(35deg);
}
@keyframes rotation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* line 534, ../sass/style.scss */
.b8 {
  text-align: center;
  overflow: hidden;
  color: #FFF;
  transition: all .3s ease;
  border: solid 1px #0092ff;
  background: transparent;
}
/* line 544, ../sass/style.scss */
.b8::before {
  left: 0;
  background: #0092ff;
  width: 100%;
  height: 100%;
  top: 0;
  content: "";
  position: absolute;
  transition: all .3s ease;
  border: solid 1px #0092ff;
  box-sizing: border-box;
}
/* line 557, ../sass/style.scss */
.b8:hover {
  color: #0092ff;
}
/* line 560, ../sass/style.scss */
.b8:hover::before {
  left: 100%;
}

/* line 567, ../sass/style.scss */
.b9 {
  text-align: center;
  overflow: hidden;
  color: #FFF;
  transition: all .3s ease;
  background: #0092ff;
}
/* line 575, ../sass/style.scss */
.b9 span {
  position: relative;
}
/* line 578, ../sass/style.scss */
.b9 span i {
  position: relative;
  z-index: 9;
}
/* line 585, ../sass/style.scss */
.b9 span::before {
  border: solid 1px #FFF;
  content: "";
  width: 180%;
  height: 200%;
  left: -40%;
  top: -50%;
  position: absolute;
  opacity: .75;
}
/* line 598, ../sass/style.scss */
.b9 span::after {
  background: #0092ff;
  content: "";
  width: calc(180% + 2px);
  height: calc(200% + 3px);
  top: -50%;
  left: -40%;
  position: absolute;
  transition: all .3s ease-in-out;
}
/* line 613, ../sass/style.scss */
.b9:hover span:after {
  width: 0;
  left: 50%;
}

/* line 622, ../sass/style.scss */
.b10 {
  text-align: center;
  overflow: hidden;
  color: #FFF;
  transition: all .3s ease;
  background: #0092ff;
}
/* line 633, ../sass/style.scss */
.b10:hover .star {
  filter: blur(12px);
  margin-right: 0;
  margin-left: -0.6em;
}
/* line 642, ../sass/style.scss */
.b10 .star {
  filter: blur(0px);
  transition: all ease .3s;
  position: relative;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .9em;
  margin-right: 2em;
  margin-bottom: 1.2em;
  border-right: .3em solid transparent;
  border-bottom: .8em solid #FFF;
  border-left: .3em solid transparent;
  top: 2px;
  transform: rotate(0);
  transform-origin: center 8px;
  /* Controlls the size of the stars. */
  font-size: 8px;
}
/* line 666, ../sass/style.scss */
.b10 .star:before, .b10 .star:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  top: .6em;
  left: -1em;
  border-right: 1em solid transparent;
  border-bottom: .8em solid #FFF;
  border-left: 1em solid transparent;
  transform: rotate(-35deg);
}
/* line 685, ../sass/style.scss */
.b10 .star:after {
  transform: rotate(35deg);
}

/* line 692, ../sass/style.scss */
.b11 {
  text-align: center;
  overflow: hidden;
  color: #FFF;
  background: #0092ff;
}
/* line 702, ../sass/style.scss */
.b11:hover .star {
  margin-right: 0;
  margin-left: -0.6em;
  transform: scale(4.5) rotate(180deg);
  opacity: .1;
}
/* line 713, ../sass/style.scss */
.b11 .star {
  transition: all ease .3s;
  position: relative;
  opacity: 1;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .9em;
  margin-right: 2em;
  margin-bottom: 1.2em;
  border-right: .3em solid transparent;
  border-bottom: .8em solid #FFF;
  border-left: .3em solid transparent;
  top: 2px;
  transform: scale 1;
  transform-origin: center 8px;
  /* Controlls the size of the stars. */
  font-size: 8px;
}
/* line 739, ../sass/style.scss */
.b11 .star:before, .b11 .star:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  top: .6em;
  left: -1em;
  border-right: 1em solid transparent;
  border-bottom: .8em solid #FFF;
  border-left: 1em solid transparent;
  transform: rotate(-35deg);
}
/* line 758, ../sass/style.scss */
.b11 .star:after {
  transform: rotate(35deg);
}

/* line 764, ../sass/style.scss */
.b12 {
  text-align: center;
  overflow: hidden;
  color: #FFF;
  transition: all .3s ease;
  background: #0092ff;
}
/* line 773, ../sass/style.scss */
.b12 span {
  position: relative;
}
/* line 776, ../sass/style.scss */
.b12 span i {
  position: relative;
  z-index: 9;
}
/* line 783, ../sass/style.scss */
.b12 span::before {
  border-top: solid 1px #FFF;
  border-bottom: solid 1px #FFF;
  opacity: .75;
  content: "";
  width: 0;
  height: 160%;
  left: 50%;
  top: -30%;
  position: absolute;
  transition: all ease 0.3s;
}
/* line 801, ../sass/style.scss */
.b12:hover span::before {
  width: 160%;
  left: -30%;
}
